NEXT_PUBLIC_API_URL=http://localhost:8000

DEBUG=true
APP_NAME="Healthier API"
HOST=0.0.0.0
PORT=8000
CORS_ORIGINS=["http://localhost:3000"]

SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-service-role-key

CEREBRAS_KEY=your-cerebras-api-key

